services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    # Make services available for autowiring
    LukaszJaworski\CeidgBundle\Service\:
        resource: '../src/Service/*'

    # Configure CEIDG API Service with environment variables
    LukaszJaworski\CeidgBundle\Service\CeidgApiService:
        arguments:
            $httpClient: '@http_client'
            $apiUrl: '%env(CEIDG_API_URL)%'
            $apiKey: '%env(CEIDG_API_KEY)%'

    LukaszJaworski\CeidgBundle\Command\:
        resource: '../src/Command/*'
        tags: ['console.command']

    LukaszJaworski\CeidgBundle\State\:
        resource: '../src/State/*'

    LukaszJaworski\CeidgBundle\Repository\:
        resource: '../src/Repository/*'
